body {
  background-color: #d8d8e6;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

input {
  width: 90%;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #744b4b;
  margin: 10px;
  padding: 14px;
}

button {
  background-color: #1a1f1a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 22px;
  cursor: pointer;
  margin: 10px 5px;
}

ul {
  list-style: none;
}

li {
  background-color: #fff;
  margin: 12px 0;
  padding: 20px;
  border: 1px solid #514b4b;
  border-radius: 10px;
  text-align: left;
}

li h3 {
  font-size: 25px;
  color: #333;
}

li p {
  color: #666;
}
.servicelist {
  background-color: #b1a7a7;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
.disply-service-text span{
font-weight: 600;
}
